body{
    font-family: sans-serif;
    line-height: 1.2;
    cursor: url(image/curseur.png) 32 32, auto;
}
.projet .grid p{
    margin:auto;
    margin-top: 1.2em;
    cursor: auto;
    padding: 20px;
    padding-right: 150px;
    line-height: 1.3;
}

.about .grid {
    color:#3FA9F5;
    text-decoration: none;
    margin:auto;
    margin-top: 1.2em;
    cursor: auto;
    padding: 20px;
    padding-right:200px;
    padding-left: 150px;
    line-height: 1.3;
    font-family:"Host Grotesk" ;
    
}


video { 
   max-width: 100%; 
   height: auto; 
}

.header-title {
    font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    color:#3FA9F5;
    padding-left: 10px;
     }

.header-nav{
    font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: normal;
        color:#000000;
}

.header-nav a{
    text-decoration: none;
    color: currentColor;
}

.header-title2 {

        font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: normal;
        color:#3FA9F5;
          }

img{
    max-width:100%;
    height:auto;
    display: block;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.header{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content:space-between;
    align-items:first baseline;

    /*border: 5px solid pink;
    margin-bottom: 20px;
    border-bottom: 30px solid pink;
    padding-bottom: 20px;*/
}

.header-title{
    background-color: rgb(255, 255, 255);
}

.header-nav{
    background-color:rgb(255, 255, 255);
}

.index .grid{
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

@media (min-width:768px) {
    .index .grid{
        grid-template-columns: repeat(2,1fr);
    }
}

/*@media (min-width:1200px) {
    .index .grid{
        grid-template-columns: repeat(3,1fr);

    }
}*/

.projet .grid{
    display: grid;
    max-width:100%;
    /* height:fit-content */
    /* display block;  */
    color:#000000;
    margin: 0 auto;
    /* background-color: #FBF5F3; */
    grid-template-columns: repeat(1, minmax(400px, 1fr));
    justify-content: center;
    gap:10px;
    /* grid-column: 3;
    grid-row: 2; */
    
}

@media  (min-width:820px) {
    .projet .grid{
        grid-template-columns: repeat(2, minmax(400px, 1fr));

    }
}
@media  (min-width:1220px) {
    .projet .grid{
        grid-template-columns: repeat(3, minmax(400px, 1fr));
    }
}

    
.projet2 .grid{
    display: grid;
    max-width:100%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.projet .grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-nav{
    display: grid;
    justify-content: center;
    text-align: center;
}

.balance {
    text-wrap: balance;
}
    /*grid-template-columns:1fr 1fr;*/

.footer {
    background-color: rgb(0, 0, 0);
    justify-content:center;
    position: sticky;
}
.item{
    display:grid;
    background: #ffffff;
    text-decoration: none;  
  }

  a{
    cursor: url(image/curseur2.png) 32 32, auto!important;
  }

  .item>*{
    grid-column: 1/-1;
    grid-row:1/-1;
    justify-self:center;
    align-self:center;
    color:#000000;
    transition:0.3s;
  }

  .item p{
    font-size: 22px;
    opacity:0;
  }
  .item:hover img{
    opacity:0;
  }
  .item:hover p{
    opacity:1;
  }

  .lien{
    text-decoration: none;
    color:#FF7BAC;
  }
